**/node_modules
**/dist
**/build
**/coverage
**/.nx
**/.nx/cache
**/.venv
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.turbo
**/.vite
**/.next
**/out
**/target
**/*.log
.git
.idea
