fastapi
uvicorn[standard]
pydantic
python-dotenv
requests
pillow
numpy

# ML / Inference
torch
transformers
openvino
optimum-intel

# needed by many HF tokenizers / models
protobuf
sentencepiece
tokenizers
